@import "~bootstrap/scss/bootstrap.scss";

.app-content{
    width: 700px;
    border: 1px solid gray;
    background: rgb(255, 231, 235);
    padding-top: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; 
}

ul {
    width: 100%;
    padding: 0;
}

li {
    padding: 10px 10px;
    background-color: rgb(255, 251, 252);
    box-shadow: inset -4px -2px 15px pink;
    color: #4c4b4b;
    font-weight: 200;
    font-size: 1.2em;
}

li:hover {
    box-shadow: inset -4px -2px 6px pink;
}

h1 {
    text-align: center;
    color: rgb(0, 185, 218);
    font-size: 60px;
}

.line {
    border-bottom: solid gray 1px; 
    width: 100%;
}

.todo{
    display: flex;
    width: 100%;
}

.todo:hover .btn-delete {
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 40px;
    text-decoration: none;
    font-weight: 300;
    background-color: white;
    color: gray;
    text-align: center;
}

.btn-delete{
    display: none;
}

.btn-delete:hover {
    box-shadow: 1px 2px 5px lightgray;
}

input{
    height: 35px;
    width: 50%;
    vertical-align: auto;
    display: flex;
    border-radius: 5px;
    border-width: 1px;
}

button{
    cursor: pointer;
    margin: 10px auto;
    display: inline-block;
    text-decoration: none;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border-width: 1px;
    background-color: pink;
    color: gray;
}

