@import "~bootstrap/scss/bootstrap.scss";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.app-content{
    width: 700px;
    background: rgb(255, 231, 235);
    box-shadow: 15px 25px 30px lightgrey;
    padding-top: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; 
    color: #575656;
}

ul {
    width: 100%;
    padding: 0;
}


h1 {
    text-align: center;
    color: rgb(0, 185, 218);
    font-size: 60px;
}

.line {
    border-bottom: solid gray 1px; 
    width: 100%;
}

li {
    padding: 10px 10px;
    box-shadow: inset -1px -2px 8px #ffe7eb;
    color: #575656;
    font-weight: 200;
    font-size: 1.2em;
}

.todo {
    background-color: rgb(255, 253, 253);
    display: flex;
    width: 100%;
}

.todo-done {
    background-color: rgb(241, 237, 238);
    display: flex;
    width: 100%;
}

.todo:hover, .todo-done:hover {
    box-shadow: inset -2px -2px 8px pink;
}


.btn-delete, .btn-done{
    display: none;
}

.todo:hover .btn-delete, 
.todo:hover .btn-done,
.todo-done:hover .btn-delete,
.todo-done:hover .btn-done {
    margin: 0 4px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 200;
    background-color: white;
    color: gray;
    text-align: center;
    display: inline-block;
}

.buttons {
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
}

.btn-delete:hover {
    color: red;
    box-shadow: 1px 2px 5px lightgray;
}

.btn-done:hover {
    box-shadow: 1px 2px 5px lightgray;
}

input{
    height: 35px;
    width: 50%;
    display: flex;
    border: none;
    box-shadow: inset 0 0 3px #acaaaa;
}

input:focus {
    outline: none;
}

button {
    margin: 10px auto;
    display: inline-block;
    text-decoration: none;
    height: 30px;
    width: 100px;
    border: none;
    background-color: pink;
    font-weight: 200;
    box-shadow: 2px 2px 5px #bfbcbc;
    color: #575656;
}

.remaining-todos {
    font-style: italic;
    font-weight: 200;
}